
<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchDefault>
    <ng-container *ngIf="!viewFull">
      <ng-container *ngIf="listData !==[],else notData">
<!--        <div class="row row-cols-1 row-cols-md-3 " style="margin-top: 24px;">-->
        <div class="row row-cols-2 " style="margin-top: 20px;">
          <div class="item-Sukien flex-wrap p-1 col-sm-6 col col-md-6 col-lg-3 mb-3" *ngFor="let item of listData" (click)="selectSukien(item.id)">
            <div class="card " style="overflow: hidden">
              <img [src]="item['_bg_link'] !='' ? item['_bg_link'] : 'assets/images/placeholder-3x2.jpg'"
                   class="card-img-top ovic-img-zoom">
              <div class="card-body">
                <h5 class="card-title text-in-line">{{item.title}}</h5>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #notData>
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
          <p class="font-weight-bold ">Không có dữ liệu </p>
        </div>
      </ng-template>
    </ng-container>

  </ng-container>
  <ng-container *ngSwitchCase="'INFO'">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="sukien_title">{{sukienActive.title}}</div>
      <div class="sukien_desc" [innerHTML]="sukienActive.mota | htmlDecode">

      </div>

    </div>

  </ng-container>

  <div style="height:111px"> </div>
</ng-container>





