.loader-component__list-wrap {
	margin: 50px 0;
	border: 1px solid #ededed;
	border-radius: 1em;
	padding: 0;
	overflow: hidden;
	background-color: #f6f6f6;
}

.loader-component__list {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px;
	margin: 0;
}

.loader-component__list li {
	padding: 10px;
	width: 25%;
}

.loader-component__elm-wrap {
	width: 100%;
	border: 1px solid #ededed;
	border-radius: 1em;
	padding-top: 100%;
	position: relative;
	overflow: hidden;
	background-color: #dddddd;
}

.loader-component__elm-wrap > .btn {
	position: absolute;
	top: 15px;
	right: 15px;
	border-radius: 999px;
	outline: none !important;
	box-shadow: none !important;
}

.loader-component__elm-wrap__lbl {
	position: absolute;
	bottom: 15px;
	left: 50%;
	font-size: 14px;
	color: #666;
	line-height: 1;
	text-align: center;
	z-index: 99999;
	transform: translateX(-50%);
	border: none;
	padding: 5px 10px;
	background-color: transparent;
	outline: none !important;
	box-shadow: none !important;
	user-select: none;
}
