.ctn_body {
  display: flex;
  width: 100%;
  height: 100%;
}

.hover {
  cursor: pointer;
}
.btn-ctm{
  border: 1px solid #e0e0e0;
  min-height: 42px;
}

.tooltip {
  background-color: #0b69e3;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  padding: 10px 15px;
  opacity: 0;
  transform: translate3d(-50%, -100%, 0);
  transition: opacity .3s, transform .3s;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.tooltip.is-active {
  opacity: 1;
  transform: translate3d(-50%, calc(-100% - 20px), 0);
}
.onRight-bottom {
  float: left;
  position: fixed;
  display: flex;
  flex-direction: column;

  right: 20px;
  bottom: 50px;
  z-index: 100;
}

.ctn-left {
  width: 40%;
  /*height:300px;*/
  padding-right: 20px;
  border-right: 1px solid #2687fc;
}

.ctn-right {
  width: 60%;
  margin: 0;
  padding: 0 20px ;
}

.datainfo-title {
  display: flex;
  justify-content: center;
  align-content: center;
}

.datainfo-title, .datainfo-body {
  width: 100%;
  border: 1px dashed #2687fc;
  border-radius: 5px;
  padding: 10px 10px;
}
.datainfo-title__p {
  font-size: 16px;
  font-weight: 600;
}
.datainfo-body__dec {
  display: block;
}
.datainfo-body__tag {
  display: inline-block;
}
.datainfo-body__tag--item{
  background: #2687fc;
  color:#fff;
  padding: 7px 10px 5px;
  border-radius: 999px;
  line-height: 1;
  margin: 5px;
}
.datainfo-body__img{
  padding:0 10px 10px 10px;
  width:100%;
  /*max-width:300px;*/
  background-size: contain;
}
.datainfo-body__audio{
  width:100%;
}

.btn-backtoScene{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 14px;

}
