
.sceen-contailer {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header_container {
  /*height:20%;*/
  width: 100%;
}

.info_container {
  /*background: #f1f1f1;*/
  background-color: #5a725c52;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.info_container-left {
  width: 65%;
}

.info_container-head {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

}

.info-avata {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #304352;
  padding: 4px;
  border-radius: 20px;
  font-weight: 500;
  width: 110px;
  color: #FFF;

}

.info-avata img {
  height: 24px;
  border-radius: 50px;
  margin-right: 6px;
}

.info_container-head span {
  font-size: 16px;
  font-weight: 300;
}

.info_container-right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}

/*right header*/
.countdown-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-timer h1 {
  font-size: 16px;

}

.timer {
  margin-top: 8px;
  font-size: 34px;
  font-weight: 500;
  color: #fd1d1d;
  font-family: 'alarm clock', sans-serif;

}

.space-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 1px;
  width: 100%;
  border: 1px solid #ff4b1f;
}

.exam-container {
  width: 100%;
  /*height: 80%;*/
  overflow-x: hidden;
  overflow-y: auto;
}

.exam-container::-webkit-scrollbar-thumb {
  background-color: #f5af19;
  border-radius: 50px;
}

.exam-container__item {
  margin: 10px;

}

.exam-container__item-label {
  font-size: 15px;
  font-weight: 500;

}

.exam-container__item-label span {
  font-weight: 300;
}

.tbl-in-dialog {
  font-size: 15px;
  line-height: 1.4;
}

.tbl-in-dialog th,
.tbl-in-dialog td {
  padding: 5px;
  border: 1px solid #dee2e6;
}

.results-contaier {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: #fff;
  padding: 10px;
}

.timeOut {
  margin: 0;
  margin-left: 6px;
  font-size: 20px;
  font-weight: 500;
  color: #fd1d1d;
  font-family: 'alarm clock', sans-serif;
}

@media (width < 600px) {
  .info_container-left {
    width: 100%
  }

  .info_container-head {
    margin-top: 5px;
    font-size: 15px;
  }

  .results-contaier {
    width: 370px;
  }
  .exam-container__item{
    padding: 0;
  }

  .dotthi-container__title div{
    font-size: 14px;
  }
}

/*============================================*/
.info_container-new{
  display:flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  background: #c1c1c15c;
}
.info_container-head-new{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
