<div class="row h-100">
  <div class="col-12 ovic-ui-table" [class.ovic-is-loading]="isLoading">
    <div class="ovic-load-init-fail alert alert-danger --fs-14" *ngIf="loadInitFail; else tableData">
      Đã có lỗi trong quá trình tải dữ liệu
      <button class="btn btn-primary border-circle --fs-13 ml-2" (click)="loadInit()">Reload</button>
    </div>
    <ng-template #tableData>
      <div class="p-datatable-header">
        <h3 class="tbl-title ng-star-inserted">Danh sách ngữ liệu</h3>
        <div class="search-block ui-table-globalfilter-container ng-star-inserted">
          <div class="d-flex align-items-center">
            <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
              <div class="d-flex">
                <div class="search-block__elm ml-2">
                      <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText style="height:42px" placeholder="Tìm kiếm"
                               [(ngModel)]="search" (ngModelChange)="changeInput($event)"/>
                      </span>
                </div>
                <div class="ml-2">
                  <p-button icon="pi pi-plus" label="Thêm mới ngữ liệu" (click)="btnAdd()"
                            [style]="{'height':'42px'}"></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-table [value]="listData" [paginator]="false" [rows]="rows" [showCurrentPageReport]="true"
               [tableStyle]="{ 'min-width': '100px' }">
        <ng-template pTemplate="header">
          <tr>
            <th class="ovic-w-50px text-center">#</th>
            <th class="text-left">Tiêu đề Sự kiện</th>
            <th class="ovic-w-215px text-left p-1">Địa điểm diễn ra</th>
            <th class="ovic-w-250px text-left">Thời gian diễn ra</th>
            <th class="ovic-w-180px text-center">Thao tác</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">Không có dữ liệu</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td class="ovic-w-50px text-center">{{item['__indexTable']}}</td>
            <td>
              <div class="d-block --fs-14" [innerHTML]="item['__title_converted'] | ovicSafeHtml"></div>
            </td>

            <td class="ovic-w-215px">
              <div class="d-block --fs-14" *ngFor="let ditich of item['__diemditich_ids_coverted']">
                <div class="diem_ditich-css" >{{ditich.ten}}</div>
              </div>
            </td>
            <td class="ovic-w-100px">
              <div class="d-block --fs-14" [innerHTML]="item['__time_converted']"></div>
            </td>
            <td class="ovic-w-100px text-center">
              <div class="d-block --fs-14">
                <p-button class="btn-p-10px" styleClass="" icon="pi pi-info-circle"
                          (click)="btnInformation(item.id)"></p-button>
                <p-button class="btn-p-10px mx-2" styleClass=" p-button-warning" icon="pi pi-pencil"
                          (click)="btnEdit(item)"></p-button>
                <p-button class="btn-p-10px" styleClass=" p-button-danger" icon="pi pi-trash"
                          (click)="btnDelete(item)"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </div>
</div>


<ng-template #fromUpdate>
  <div class="ovic-side-navigation-content">
    <div class="ovic-side-navigation-content__head">
      <h4 class="ovic-side-navigation-content__head__title">{{formActive ? formActive.title : ''}}</h4>
      <button (click)="closeForm()" pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-text close ovic-side-navigation-content__head__btn-close"></button>
    </div>
    <div class="ovic-side-navigation-content__body ovic-scroll-style">
      <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
        <form [formGroup]="formSave" autocomplete="off">
          <div class="row">
            <div class="col-12">
              <p class="form-row">
                <label>Tên sự kiện<span class="ovic-mark">*</span></label>
                <input pRipple type="text" placeholder="Tiêu đề..." formControlName="title"
                       autocomplete="off">
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="form-row">
                <label>Diễn ra ở <span class="ovic-mark">*</span></label>
              </p>
              <p-multiSelect [options]="dataDiemditich" placeholder="Chọn..." formControlName="diemditich_ids"
                             optionLabel="ten" optionValue="id" [style]="{'width': '100%'}">
              </p-multiSelect>
            </div>

          </div>
          <div class="row">
            <div class="col-12">
              <p class="form-row">
                <label>Nội dung </label>
                <textarea formControlName="mota" placeholder="Nội dung..." autocomplete="off" cols="30"
                          rows="5"></textarea>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="form-row">
                <label>Thời gian bắt đầu <span class="ovic-mark">*</span></label>
                <input pRipple type="text" placeholder="vd: dd/mm/yyyy, mm/yyyy, yyyy, ..."
                       formControlName="thoigian_batdau"
                       autocomplete="off">
              </p>
            </div>
            <div class="col-6">
              <p class="form-row">
                <label>Thời gian kết thúc <span class="ovic-mark">*</span></label>
                <input pRipple type="text" placeholder="vd: dd/mm/yyyy, mm/yyyy, yyyy, ..."
                       formControlName="thoigian_ketthuc"
                       autocomplete="off">
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="form-row">
                <label>Nhân vật lịch sử tham gia sự kiện </label>
              </p>
              <p-multiSelect [options]="dataNhanvatlichsu" placeholder="chọn..." formControlName="nhanvat_ids"
                             optionLabel="ten" optionValue="id" [style]="{'width': '100%'}">
              </p-multiSelect>
            </div>
          </div>

          <div class="ovic-ui-table position-relative w-100 " style="margin-top:15px">
            <div class="wrap-table">
              <div class="p-datatable-header">
                <h3 class="tbl-title ng-star-inserted">DM Ngữ liệu</h3>
                <button type="button" pButton pRipple class="lgp__button-add p-button-success ml-2" label="Thêm mới"
                        icon="pi pi-plus" matTooltip="Thêm mới ngữ liệu" matTooltipPosition="above"
                        matTooltipClass="ovic-table--tooltip" (click)="btnAddNgulieu('DIRECT')"></button>
              </div>
              <table class="tbl w-100">
                <thead class="p-datatable-thead">
                  <tr>
                    <th class="ovic-w-50px text-center">#</th>
                    <th> Tiêu đề ngữ liệu</th>
                    <th>Loại ngữ liệu</th>
                    <th class="ovic-w-110px text-center">Thao tác</th>
                  </tr>
                </thead>
                <tbody class="p-datatable-tbody">
                  <tr *ngIf="!f['ngulieu_ids'].value || f['ngulieu_ids'].value.length === 0">
                    <td [attr.colspan]="4">Không có ngữ liệu</td>
                  </tr>
                  <tr *ngFor="let r of f['ngulieu_ids'].value; index as i">
                    <td class="ovic-w-50px text-center">{{ index + i }}</td>
                    <td>{{r.title}}</td>
                    <td>{{r['__loaingulieu_converted']}}</td>
                   <td class="ovic-w-110px text-center">
                      <button type="button" pButton pRipple class="lgp__button" icon="pi pi-download"
                             matTooltip="Cập nhật thông tin" matTooltipPosition="above"
                             matTooltipClass="ovic-table--tooltip" (click)="btnDowloadNgulieu(r)"></button>
                     <button type="button" pButton pRipple class="lgp__button p-button-danger ml-2" icon="pi pi-trash"
                             matTooltip="Xóa " matTooltipPosition="above" matTooltipClass="ovic-table--tooltip"
                             (click)="btnDeleteNgulieu(r.id)"></button>
                   </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <p class="form-row">
                <label>File đính kèm</label>
                <app-file-list-local class="w-100 ovic-vertical__file-list" [permission]="filePermission"
                                     [formField]="f['file_quyetdinh']" [multiple]="true"
                                     [state]="1"></app-file-list-local>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="ovic-side-navigation-content__foot">
      <span class="ovic-side-navigation-content__foot__notice mr-auto"><mark>(*)</mark> bắt buộc phải nhập</span>
      <button pButton pRipple type="button" label="Cập nhật" icon="pi pi-save" (click)="saveForm()"
              class="p-button-success"></button>
      <button pButton pRipple type="button" label="Đóng" class="p-button-secondary ml-3" icon="pi pi-times"
              (click)="closeForm()"></button>
    </div>
  </div>
</ng-template>

<ng-template #formInformation>
  <div class="ovic-side-navigation-content">
    <div class="ovic-side-navigation-content__head">
      <h4 class="ovic-side-navigation-content__head__title">Thông tin chi tiết sự kiện lịch sử, văn hoá địa phương</h4>
      <button (click)="closeForm()" pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-text close ovic-side-navigation-content__head__btn-close"></button>
    </div>
    <div class="ovic-side-navigation-content__body ovic-scroll-style p-0 ovic-prevent-disable-color"
         style="background-color:#F7F8FA">
      <div class="w-100 h-100 d-flex">
        <div class="h-100 border-right" style="width:30%; background-color:#fff">
          <div class="ovic-side-navigation-content__body ovic-scroll-style">
            <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
              <form [formGroup]="formSave" autocomplete="off">
                <div class="row">
                  <div class="col-12">
                    <p class="form-row">
                      <label>Tên sự kiện<span class="ovic-mark">*</span></label>
                      <input pRipple type="text" placeholder="Tiêu đề..." formControlName="title"
                             autocomplete="off">
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="form-row">
                      <label>Diễn ra ở <span class="ovic-mark">*</span></label>
                    </p>
                    <p-multiSelect [options]="dataDiemditich" placeholder="Chọn..." formControlName="diemditich_ids"
                                   optionLabel="ten" optionValue="id" [style]="{'width': '100%'}">
                    </p-multiSelect>
                  </div>

                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="form-row">
                      <label>Nội dung </label>
                      <textarea style="width: 100%;border-radius: 4px;"
                                formControlName="mota" placeholder="Nội dung..." autocomplete="off" cols="30"
                                rows="12"></textarea>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <p class="form-row">
                      <label>Thời gian bắt đầu <span class="ovic-mark">*</span></label>
                      <input pRipple type="text" placeholder="vd: dd/mm/yyyy, mm/yyyy, yyyy, ..."
                             formControlName="thoigian_batdau"
                             autocomplete="off">
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="form-row">
                      <label>Thời gian kết thúc <span class="ovic-mark">*</span></label>
                      <input pRipple type="text" placeholder="vd: dd/mm/yyyy, mm/yyyy, yyyy, ..."
                             formControlName="thoigian_ketthuc"
                             autocomplete="off">
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="form-row">
                      <label>Nhân vật lịch sử tham gia sự kiện </label>
                    </p>
                    <p-multiSelect [options]="dataNhanvatlichsu" placeholder="chọn..." formControlName="nhanvat_ids"
                                   optionLabel="ten" optionValue="id" [style]="{'width': '100%'}">
                    </p-multiSelect>
                  </div>
                </div>
                <ng-container *ngIf="dataInfo.files && dataInfo.files[0]">
                  <div class="row">
                    <div class="col-12">
                      <p class="form-row">
                        <label>File đính kèm</label>
                        <app-file-list-local class="w-100 ovic-vertical__file-list" [permission]="filePermission"
                                             [formField]="f['file_quyetdinh']" [multiple]="true"
                                             [state]="1"></app-file-list-local>
                      </p>
                    </div>
                  </div>
                </ng-container>
              </form>
            </div>
          </div>
        </div>
        <div class="h-100" style="padding: 10px;width: 70%;">

          <div class="ovic-ui-table position-relative w-100 " style="margin-top:10px">
            <div class="wrap-table">
              <div class="p-datatable-header">
                <h3 class="tbl-title ng-star-inserted">DM Ngữ liệu</h3>
                <ng-container *ngIf="!dataInfo">
                  <button type="button" pButton pRipple class="lgp__button-add p-button-success ml-2" label="Thêm mới"
                          icon="pi pi-plus" matTooltip="Thêm mới ngữ liệu" matTooltipPosition="above"
                          matTooltipClass="ovic-table--tooltip" (click)="btnAddNgulieu('DIRECT')"></button>
                </ng-container>

              </div>
              <table class="tbl w-100">
                <thead class="p-datatable-thead">
                <tr>
                  <th class="ovic-w-50px text-center">#</th>
                  <th> Tiêu đề ngữ liệu</th>
                  <th> Lĩnh vực</th>
                  <th class="ovic-w-200px">Loại ngữ liệu</th>
                  <th class="ovic-w-110px text-center">Thao tác</th>
                </tr>
                </thead>
                <tbody class="p-datatable-tbody">
                <tr *ngIf="!f['ngulieu_ids'].value || f['ngulieu_ids'].value.length === 0">
                  <td [attr.colspan]="3">Không có ngữ liệu</td>
                </tr>
                <tr *ngFor="let r of f['ngulieu_ids'].value; index as i">
                  <td class="ovic-w-50px text-center">{{ index + i }}</td>
                  <td>{{r.title}}</td>
                  <td>{{r.title}}</td>
                  <td>{{r.title}}</td>
                  <td class="ovic-w-110px text-center">
                    <button type="button" pButton pRipple class="lgp__button" icon="pi pi-download"
                            matTooltip="Cập nhật thông tin" matTooltipPosition="above"
                            matTooltipClass="ovic-table--tooltip" (click)="btnDowloadNgulieu(r)"></button>

                    <ng-container *ngIf="!dataInfo">
                      <button type="button" pButton pRipple class="lgp__button p-button-danger ml-2" icon="pi pi-trash"
                              matTooltip="Xóa " matTooltipPosition="above" matTooltipClass="ovic-table--tooltip"
                              (click)="btnDeleteNgulieu(r.id)"></button>
                    </ng-container>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ovic-side-navigation-content__foot">
      <button pButton pRipple type="button" label="Đóng" class="p-button-secondary ml-3" icon="pi pi-times"
              (click)="closeForm()"></button>
    </div>
  </div>
</ng-template>
