.nhom-ngu-lieu-su-kien{
  width: 100%;
  max-width: 100%;
  min-height: 56px;
  display: block;
  background: #ffffff;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 6px;
}

.diem_ditich-css{
  padding:3px;
  margin: 2px;
  /*background: linear-gradient(to right, #314755, #26a0da);*/
}
.news-container{
  padding:10px;
}
.news-container_title{
  font-size:20px;
  font-weight:700;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.news-container_title p{
  font-size: 30px;
  padding-top: 10px;
  margin-top: 20px;
}
.news-container_address{
  font-size: 16px;
  font-weight: 600;
}
.news-container_address_item ,.news-container_user_item{
  font-weight:400;
  display:inline-block;
}



.news-container_user{
  font-size: 16px;
  font-weight: 600;
}
.news-container_content{
  width:100%;
  height:100%;
  font-size: 70%;
}
.news-container_content img {
  max-width: 100%;
}

.scrol-container{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.news-container_media{

}
.btn-ctm {
  border: 1px solid #e0e0e0;
  min-height: 42px;
}
.btn-custom-size-30x30{
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
