
<!--    https://www.youtube.com/watch?v=i9cg8cSOlS8-->

<!--    <youtube-player videoId='JGwWNGJdvx8' [height]=250 [width]=500>-->

<!--    </youtube-player>-->
<!--  <youtube-player [videoId]="videoId" [height]="500" [width]="500">-->
<!--  </youtube-player>-->
<!--    <video src="https://www.youtube.com/387e63e4-1d11-4bf5-ba28-8635f52870a7"></video>-->
    <div class="row">
      <div class="col d-flex justify-content-center">
        <h3 class="video-title">Video hướng dẫn sử dụng</h3>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center video-container">
        <iframe width="720px" height="400px" src="https://www.youtube.com/embed/vAecGPWxzFE?start=165"
                 title="YouTube video player" frameborder="0" allow="accelerometer;
                 autoplay; clipboard-write; encrypted-media; gyroscope;
                 picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
