p-calendar .p-calendar {
  width: 100%;
}


.ovic-side-navigation-content__foot__notice {
  font-size: 13px;
  color: #333333;
}

.ovic-side-navigation-content__foot__notice mark {
  background: transparent;
  color: var(--danger);
  padding: 0;
}

.ctn_body > canvas {
  width: 100% !important;
  height: 100% !important;
}

.img-child-max-width > img {
  max-width: 100%;
}

.custom-multiselect .p-multiselect {
  width: 100%;
  height: 44px;
}

app-danh-sach-ngu-lieu{
  height: 100%;
}

.ovic-prevent-disable-color .p-disabled,
.ovic-prevent-disable-color .p-component:disabled {
  opacity: 1;
}

.ovic-prevent-disable-color textarea:disabled,
.ovic-prevent-disable-color input:disabled {
  background-color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  resize: none;
}

.ovic-prevent-disable-color .p-disabled .p-dropdown-trigger {
  display: none;
}
