@media (min-width: 1200px) {
	.container {
		max-width: 1180px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1300px;
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1583px;
	}
}

.panel-body {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}

.example-wrap {
	display: block;
	margin: 20px 0;
}

.color-primaries > div {
	display: inline-flex;
	width: 90px;
	height: 90px;
	line-height: 1;
	color: #fff;
	text-align: center;
	border-radius: 999px;
	font-size: 14px;
	margin: 5px;
	justify-content: center;
	align-items: center;
}

.color-palette > div > .text-uppercase {
	font-size: 13px;
}

.color-palette .list-group {
	margin-bottom: 20px;
	color: #ffffff;
}

.--color-blue-grey-700,
.list-group--auto-gen li:nth-child(7),
.list-group--auto-gen li:nth-child(8),
.list-group--auto-gen li:nth-child(9),
.list-group--auto-gen li:nth-child(10) {
	color: #37474f;
}

.text-color-box {
	width: 100%;
	height: 200px;
	margin-bottom: 15px;
}

.example-alpha {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	line-height: 50px;
	color: #fff;
	text-align: center;
}

.example-divider {
	background-color: rgba(38, 50, 56, .1);
}

.color-box {
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-left: 10px;
	margin-bottom: 20px;
	color: #fff;
}

.opacity-example span {
	display: inline-block;
	width: 55px;
	white-space: nowrap;
}

.blue-grey-700 i, .opacity-eight i, .opacity-four i, .opacity-six i {
	margin-right: 5px;
}

.color-primaries>.bg-blue-grey-200 {
	color: #868a8d;
}

.opacity-four {
	color: rgba(55, 71, 79, 0.4) !important;
}

.opacity-six {
	color: rgba(55, 71, 79, 0.6) !important;
}

.opacity-eight {
	color: rgba(55, 71, 79, 0.8) !important;
}

.bg-red-100 {
	background-color: #ffdbdc;
}

.bg-red-200 {
	background-color: #ffbfc1;
}

.bg-red-300 {
	background-color: #ffa1a4;
}

.bg-red-400 {
	background-color: #ff8589;
}

.bg-red-500 {
	background-color: #ff666b;
}

.bg-red-600 {
	background-color: #ff4c52;
}

.bg-red-700 {
	background-color: #f2353c;
}

.bg-red-800 {
	background-color: #e62020;
}

.bg-red-900 {
	background-color: #d60b0b;
}

.red-100 {
	color: #ffdbdc;
}

.red-200 {
	color: #ffbfc1;
}

.red-300 {
	color: #ffa1a4;
}

.red-400 {
	color: #ff8589;
}

.red-500 {
	color: #ff666b;
}

.red-600 {
	color: #ff4c52;
}

.red-700 {
	color: #f2353c;
}

.red-800 {
	color: #e62020;
}

.red-900 {
	color: #d60b0b;
}

.bg-pink-100 {
	background-color: #ffd9e6;
}

.bg-pink-200 {
	background-color: #ffbad2;
}

.bg-pink-300 {
	background-color: #ff9ec0;
}

.bg-pink-400 {
	background-color: #ff7daa;
}

.bg-pink-500 {
	background-color: #ff5e97;
}

.bg-pink-600 {
	background-color: #f74584;
}

.bg-pink-700 {
	background-color: #eb2f71;
}

.bg-pink-800 {
	background-color: #e6155e;
}

.bg-pink-900 {
	background-color: #d10049;
}

.pink-100 {
	color: #ffd9e6;
}

.pink-200 {
	color: #ffbad2;
}

.pink-300 {
	color: #ff9ec0;
}

.pink-400 {
	color: #ff7daa;
}

.pink-500 {
	color: #ff5e97;
}

.pink-600 {
	color: #f74584;
}

.pink-700 {
	color: #eb2f71;
}

.pink-800 {
	color: #e6155e;
}

.pink-900 {
	color: #d10049;
}

.bg-purple-100 {
	background-color: #eae1fc;
}

.bg-purple-200 {
	background-color: #d9c7fc;
}

.bg-purple-300 {
	background-color: #c8aefc;
}

.bg-purple-400 {
	background-color: #b693fa;
}

.bg-purple-500 {
	background-color: #a57afa;
}

.bg-purple-600 {
	background-color: #9463f7;
}

.bg-purple-700 {
	background-color: #8349f5;
}

.bg-purple-800 {
	background-color: #7231f5;
}

.bg-purple-900 {
	background-color: #6118f2;
}

.purple-100 {
	color: #eae1fc;
}

.purple-200 {
	color: #d9c7fc;
}

.purple-300 {
	color: #c8aefc;
}

.purple-400 {
	color: #b693fa;
}

.purple-500 {
	color: #a57afa;
}

.purple-600 {
	color: #9463f7;
}

.purple-700 {
	color: #8349f5;
}

.purple-800 {
	color: #7231f5;
}

.purple-900 {
	color: #6118f2;
}

.bg-indigo-100 {
	background-color: #e1e4fc;
}

.bg-indigo-200 {
	background-color: #c7cffc;
}

.bg-indigo-300 {
	background-color: #afb9fa;
}

.bg-indigo-400 {
	background-color: #96a3fa;
}

.bg-indigo-500 {
	background-color: #7d8efa;
}

.bg-indigo-600 {
	background-color: #667afa;
}

.bg-indigo-700 {
	background-color: #4d64fa;
}

.bg-indigo-800 {
	background-color: #364ff5;
}

.bg-indigo-900 {
	background-color: #1f3aed;
}

.indigo-100 {
	color: #e1e4fc;
}

.indigo-200 {
	color: #c7cffc;
}

.indigo-300 {
	color: #afb9fa;
}

.indigo-400 {
	color: #96a3fa;
}

.indigo-500 {
	color: #7d8efa;
}

.indigo-600 {
	color: #667afa;
}

.indigo-700 {
	color: #4d64fa;
}

.indigo-800 {
	color: #364ff5;
}

.indigo-900 {
	color: #1f3aed;
}

.bg-blue-100 {
	background-color: #d9e9ff;
}

.bg-blue-200 {
	background-color: #b8d7ff;
}

.bg-blue-300 {
	background-color: #99c5ff;
}

.bg-blue-400 {
	background-color: #79b2fc;
}

.bg-blue-500 {
	background-color: #589ffc;
}

.bg-blue-600 {
	background-color: #3e8ef7;
}

.bg-blue-700 {
	background-color: #247cf0;
}

.bg-blue-800 {
	background-color: #0b69e3;
}

.bg-blue-900 {
	background-color: #0053bf;
}

.blue-100 {
	color: #d9e9ff;
}

.blue-200 {
	color: #b8d7ff;
}

.blue-300 {
	color: #99c5ff;
}

.blue-400 {
	color: #79b2fc;
}

.blue-500 {
	color: #589ffc;
}

.blue-600 {
	color: #3e8ef7;
}

.blue-700 {
	color: #247cf0;
}

.blue-800 {
	color: #0b69e3;
}

.blue-900 {
	color: #0053bf;
}

.bg-cyan-100 {
	background-color: #c2f5ff;
}

.bg-cyan-200 {
	background-color: #9de6f5;
}

.bg-cyan-300 {
	background-color: #77d9ed;
}

.bg-cyan-400 {
	background-color: #54cbe3;
}

.bg-cyan-500 {
	background-color: #28c0de;
}

.bg-cyan-600 {
	background-color: #0bb2d4;
}

.bg-cyan-700 {
	background-color: #0099b8;
}

.bg-cyan-800 {
	background-color: #007d96;
}

.bg-cyan-900 {
	background-color: #006275;
}

.cyan-100 {
	color: #c2f5ff;
}

.cyan-200 {
	color: #9de6f5;
}

.cyan-300 {
	color: #77d9ed;
}

.cyan-400 {
	color: #54cbe3;
}

.cyan-500 {
	color: #28c0de;
}

.cyan-600 {
	color: #0bb2d4;
}

.cyan-700 {
	color: #0099b8;
}

.cyan-800 {
	color: #007d96;
}

.cyan-900 {
	color: #006275;
}

.bg-teal-100 {
	background-color: #c3f7f2;
}

.bg-teal-200 {
	background-color: #92f0e6;
}

.bg-teal-300 {
	background-color: #6be3d7;
}

.bg-teal-400 {
	background-color: #45d6c8;
}

.bg-teal-500 {
	background-color: #28c7b7;
}

.bg-teal-600 {
	background-color: #17b3a3;
}

.bg-teal-700 {
	background-color: #089e8f;
}

.bg-teal-800 {
	background-color: #008577;
}

.bg-teal-900 {
	background-color: #00665c;
}

.teal-100 {
	color: #c3f7f2;
}

.teal-200 {
	color: #92f0e6;
}

.teal-300 {
	color: #6be3d7;
}

.teal-400 {
	color: #45d6c8;
}

.teal-500 {
	color: #28c7b7;
}

.teal-600 {
	color: #17b3a3;
}

.teal-700 {
	color: #089e8f;
}

.teal-800 {
	color: #008577;
}

.teal-900 {
	color: #00665c;
}

.bg-green-100 {
	background-color: #c2fadc;
}

.bg-green-200 {
	background-color: #99f2c2;
}

.bg-green-300 {
	background-color: #72e8ab;
}

.bg-green-400 {
	background-color: #49de94;
}

.bg-green-500 {
	background-color: #28d17c;
}

.bg-green-600 {
	background-color: #11c26d;
}

.bg-green-700 {
	background-color: #05a85c;
}

.bg-green-800 {
	background-color: #008c4d;
}

.bg-green-900 {
	background-color: #006e3c;
}

.green-100 {
	color: #c2fadc;
}

.green-200 {
	color: #99f2c2;
}

.green-300 {
	color: #72e8ab;
}

.green-400 {
	color: #49de94;
}

.green-500 {
	color: #28d17c;
}

.green-600 {
	color: #11c26d;
}

.green-700 {
	color: #05a85c;
}

.green-800 {
	color: #008c4d;
}

.green-900 {
	color: #006e3c;
}

.bg-light-green-100 {
	background-color: #dcf7b0;
}

.bg-light-green-200 {
	background-color: #c3e887;
}

.bg-light-green-300 {
	background-color: #add966;
}

.bg-light-green-400 {
	background-color: #94cc39;
}

.bg-light-green-500 {
	background-color: #7eb524;
}

.bg-light-green-600 {
	background-color: #6da611;
}

.bg-light-green-700 {
	background-color: #5a9101;
}

.bg-light-green-800 {
	background-color: #4a7800;
}

.bg-light-green-900 {
	background-color: #3a5e00;
}

.light-green-100 {
	color: #dcf7b0;
}

.light-green-200 {
	color: #c3e887;
}

.light-green-300 {
	color: #add966;
}

.light-green-400 {
	color: #94cc39;
}

.light-green-500 {
	color: #7eb524;
}

.light-green-600 {
	color: #6da611;
}

.light-green-700 {
	color: #5a9101;
}

.light-green-800 {
	color: #4a7800;
}

.light-green-900 {
	color: #3a5e00;
}

.bg-yellow-100 {
	background-color: #fff6b5;
}

.bg-yellow-200 {
	background-color: #fff39c;
}

.bg-yellow-300 {
	background-color: #ffed78;
}

.bg-yellow-400 {
	background-color: #ffe54f;
}

.bg-yellow-500 {
	background-color: #ffdc2e;
}

.bg-yellow-600 {
	background-color: #ffcd17;
}

.bg-yellow-700 {
	background-color: #fcb900;
}

.bg-yellow-800 {
	background-color: #faa700;
}

.bg-yellow-900 {
	background-color: #fa9600;
}

.yellow-100 {
	color: #fff6b5;
}

.yellow-200 {
	color: #fff39c;
}

.yellow-300 {
	color: #ffed78;
}

.yellow-400 {
	color: #ffe54f;
}

.yellow-500 {
	color: #ffdc2e;
}

.yellow-600 {
	color: #ffcd17;
}

.yellow-700 {
	color: #fcb900;
}

.yellow-800 {
	color: #faa700;
}

.yellow-900 {
	color: #fa9600;
}

.bg-orange-100 {
	background-color: #ffe1c4;
}

.bg-orange-200 {
	background-color: #ffc894;
}

.bg-orange-300 {
	background-color: #fab06b;
}

.bg-orange-400 {
	background-color: #fa983c;
}

.bg-orange-500 {
	background-color: #f57d1b;
}

.bg-orange-600 {
	background-color: #eb6709;
}

.bg-orange-700 {
	background-color: #de4e00;
}

.bg-orange-800 {
	background-color: #b53f00;
}

.bg-orange-900 {
	background-color: #962d00;
}

.orange-100 {
	color: #ffe1c4;
}

.orange-200 {
	color: #ffc894;
}

.orange-300 {
	color: #fab06b;
}

.orange-400 {
	color: #fa983c;
}

.orange-500 {
	color: #f57d1b;
}

.orange-600 {
	color: #eb6709;
}

.orange-700 {
	color: #de4e00;
}

.orange-800 {
	color: #b53f00;
}

.orange-900 {
	color: #962d00;
}

.bg-brown-100 {
	background-color: #f5e2da;
}

.bg-brown-200 {
	background-color: #e0cdc5;
}

.bg-brown-300 {
	background-color: #cfb8b0;
}

.bg-brown-400 {
	background-color: #bda299;
}

.bg-brown-500 {
	background-color: #ab8c82;
}

.bg-brown-600 {
	background-color: #997b71;
}

.bg-brown-700 {
	background-color: #82675f;
}

.bg-brown-800 {
	background-color: #6b534c;
}

.bg-brown-900 {
	background-color: #57403a;
}

.brown-100 {
	color: #f5e2da;
}

.brown-200 {
	color: #e0cdc5;
}

.brown-300 {
	color: #cfb8b0;
}

.brown-400 {
	color: #bda299;
}

.brown-500 {
	color: #ab8c82;
}

.brown-600 {
	color: #997b71;
}

.brown-700 {
	color: #82675f;
}

.brown-800 {
	color: #6b534c;
}

.brown-900 {
	color: #57403a;
}

.bg-grey-100 {
	background-color: #fafafa;
}

.bg-grey-200 {
	background-color: #eee;
}

.bg-grey-300 {
	background-color: #e0e0e0;
}

.bg-grey-400 {
	background-color: #bdbdbd;
}

.bg-grey-500 {
	background-color: #9e9e9e;
}

.bg-grey-600 {
	background-color: #757575;
}

.bg-grey-700 {
	background-color: #616161;
}

.bg-grey-800 {
	background-color: #424242;
}

.bg-grey-900 {
	background-color: #474747;
}

.grey-100 {
	color: #fafafa;
}

.grey-200 {
	color: #eee;
}

.grey-300 {
	color: #e0e0e0;
}

.grey-400 {
	color: #bdbdbd;
}

.grey-500 {
	color: #9e9e9e;
}

.grey-600 {
	color: #757575;
}

.grey-700 {
	color: #616161;
}

.grey-800 {
	color: #424242;
}

.grey-900 {
	color: #474747;
}

.bg-blue-grey-100 {
	background-color: #f3f7f9;
}

.bg-blue-grey-200 {
	background-color: #e4eaec;
}

.bg-blue-grey-300 {
	background-color: #ccd5db;
}

.bg-blue-grey-400 {
	background-color: #a3afb7;
}

.bg-blue-grey-500 {
	background-color: #76838f;
}

.bg-blue-grey-600 {
	background-color: #526069;
}

.bg-blue-grey-700 {
	background-color: #37474f;
}

.bg-blue-grey-800 {
	background-color: #263238;
}

.bg-blue-grey-900 {
	background-color: #3e4854;
}

.blue-grey-100 {
	color: #f3f7f9;
}

.blue-grey-200 {
	color: #e4eaec;
}

.blue-grey-300 {
	color: #ccd5db;
}

.blue-grey-400 {
	color: #a3afb7;
}

.blue-grey-500 {
	color: #76838f;
}

.blue-grey-600 {
	color: #526069;
}

.blue-grey-700 {
	color: #37474f;
}

.blue-grey-800 {
	color: #263238;
}

.blue-grey-900 {
	color: #3e4854;
}
