<div class="tour-container w-100 h-100 d-block">
  <div class=" tour-container__body">
    <ng-container [ngSwitch]="mode" class="h-100 w-100">
      <ng-container *ngSwitchDefault>
        <div *ngIf="linkImg,else unLinkImg" class="ctn-background ">
          <img src="{{linkImg}}" class="ctn-background__img" style="z-index: 12;" alt="">
          <div class="content">
            <button pButton pRipple label="Bắt đầu tham quan" class="btnRun"
                    (click)="btnRun()"></button>
          </div>
        </div>
        <ng-template #unLinkImg>
          <div class="ctn-background ">
            <img class="ctn-background__img" style="z-index: 13;" src="assets/images/videoPlaceholder.jpg" alt="">
            <div class="content">
              <button pRipple pButton icon="pi pi-play" label="Bắt đầu tham quan" class="btnRun"
                      (click)="btnRun()"></button>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container *ngSwitchCase="'MEDIAVR'">
        <ng-container *ngIf="pointStart">
          <!--          <media-vr-manager [_diemtruycap]="pointStart" [showOnly]="true" [viewRotate]="false" class="w-100 h-100"></media-vr-manager>-->
          <ovic-input-vr-media [_pointStart]="pointStart" [showOnly]="true"></ovic-input-vr-media>
        </ng-container>
      </ng-container>

    </ng-container>
  </div>
</div>

<p-dialog header="THƯ VIỆN 3D" [(visible)]="viewPoint" [modal]="true" [style]="{ width: '1000px',height:'580px' }"
          [draggable]="false" [resizable]="true">
  <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
  <div *ngIf="activeItem === items[0]">
    <div *ngIf="dataPointChild !== [],else emptyData " class="d-flex flex-wrap w-100 h-100 mt-2">
      <div class="space-contaier" *ngFor="let item of dataPointChild">
        <div class="space-contaier_item__view" *ngIf="item['_typeVr']==='image360'">
          <img src="{{item['_url_link_view']}}" alt="">
        </div>
        <div class="space-contaier_item__view" *ngIf="item['_typeVr']==='video360'">
          <video src="{{item['_url_link_view']}}"></video>
        </div>
        <div class="space-item_title"> {{item.title}}</div>
      </div>
    </div>
    <ng-template #emptyData>
      <div class="w-100 h-100 d-flex justify-content-center align-items-center font-weight-bold">
        Không có dữ liệu
      </div>
    </ng-template>
  </div>

</p-dialog>

<p-dialog header="THƯ VIỆN TÀI LIỆU" [(visible)]="visibleDocomment" [modal]="true"
          [style]="{ width: '1000px',height:'580px' }" [draggable]="false" [resizable]="true">
  <div class="d-flex w-100 h-100">
    <ng-container *ngIf="ngulieuPointStart">
      <div class="d-flex">
        <div class="orthers-item" *ngFor="let item of ngulieuPointStart">
          <img src="assets/svg/file.svg" alt="">
          <div></div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!ngulieuPointStart">
      <div class="d-flex justify-content-center align-items-center font-weight-bold w-100 text-primary">
        Không có dữ liệu
      </div>
    </ng-container>

  </div>
</p-dialog>

