<div class="section-example">
    <p-confirmPopup></p-confirmPopup>
    <button (click)="confirm($event)" pButton icon="pi pi-check" label="Confirm"></button>
    <button (click)="confirms()" pRipple pButton type="button" label="Confirm" icon="pi pi-check" class="p-button p-button-success"></button>
    <button (click)="confirmRounded()" pRipple pButton type="button" label="Confirm Rounded" icon="pi pi-check" class="p-button p-button-success"></button>
    <button (click)="confirmDelete()" pRipple pButton type="button" label="Confirm Delete" icon="pi pi-time" class="p-button p-button-danger"></button>
</div>

<div class="section-example">
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
        <h3>Left Sidebar</h3>
    </p-sidebar>

    <p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
        <h3>Right Sidebar</h3>
    </p-sidebar>

    <p-sidebar [(visible)]="visibleSidebar3" position="top" [baseZIndex]="10000">
        <h3>Top Sidebar</h3>
    </p-sidebar>

    <p-sidebar [(visible)]="visibleSidebar4" position="bottom" [baseZIndex]="10000">
        <h3>Bottom Sidebar</h3>
    </p-sidebar>

    <p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
        <h3>Full Screen Sidebar</h3>
    </p-sidebar>

    <p-button type="button" class="mr-2" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button>
    <p-button type="button" class="mr-2" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left"></p-button>
    <p-button type="button" class="mr-2" (click)="visibleSidebar3 = true" icon="pi pi-arrow-down"></p-button>
    <p-button type="button" class="mr-2" (click)="visibleSidebar4 = true" icon="pi pi-arrow-up"></p-button>
    <p-button type="button" class="mr-2" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></p-button>
</div>

<div class="section-example">
    <h1>Canvas bootstrap</h1>
    <p-button type="button" class="mr-2" (click)="openBoostrapCanvas()" icon="pi pi-arrow-right"></p-button>
    <p-button type="button" class="mr-2" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left"></p-button>

    <template #ngBtemplate>
        <div class="offcanvas-header">
            <h4 class="offcanvas-title">Offcanvas title</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body">
            <p>One fine body&hellip;</p>
            <div class="text-end">
                <button ngbAutofocus type="button" class="btn btn-outline-dark" (click)="offcanvas.close('OK click')">OK</button>
            </div>
        </div>
    </template>
</div>

<div class="section-example">
    <div class="container">
        <svg appSvgLoader="Flask" pack="back-to-school" viewBox="0 0 512 512" style="width: 32px;height: auto;"></svg>
        <svg appSvgLoader="leaf-sharp" width="512" height="512" viewBox="0 0 512 512" style="width: 32px;height: auto; color: red"></svg>
        <svg appSvgLoader="archive-outline" width="512" height="512" viewBox="0 0 512 512" style="width: 42px;height: auto; color: greenyellow"></svg>
        <svg appSvgLoader="bg-e-learning" pack="bg-e-learning" width="1600" height="1200" viewBox="0 0 1600 1200" ></svg>
    </div>
    <app-show-svg></app-show-svg>
</div>
